body{
    background-color: green;
}

#div1{
    border-style: solid;
    border-width: 2px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: brown;
}
li{
    display: inline-block;
    font-size: 25px;
    margin: 12px;
}
 #div2 img{

    height: 350px;
    width: 100%;
    margin-left: 2px;
    border-radius: 10px;

 }
 .div3{
    display: flex;
    justify-content: left;
     /* border:2px solid black; */
    height: 200px;

}
.div31{
    border:2px solid black;
    width:50%;
    margin-right:8px;
    background-color: blue;

    
}
.div32{
    border:2px solid black;
    width:50%;
    background-color: blueviolet;
}
.div4{
    display: flex;
    justify-content: left;
    height: 150px;
}
.div41{
    border: 2px solid black;
    width: 33%;
    background-color: burlywood;
    margin-top: 5px;
    margin-right: 5px;
}
.div42{
    border: 2px solid black;
    width: 33%;
    background-color: coral;
    margin-top: 5px;
    margin-right: 5px;
}
.div43{
    border: 2px solid black;
    width: 33%;
    background-color: gold;
    margin-top: 5px;
    margin-right: 5px;
    
}